<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DAL.Properties.Settings.MeetingRoomDBConnectionString"
            connectionString="Data Source=EMI\CCH2008;Initial Catalog=MeetingRoomDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>